@import './variables';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin border($params) {
    border: $params;
}

@mixin pokemon-image($w, $max) {
    width: $w;
    max-width: $max;
}

@mixin message($params) {
    display: block;
    margin: 0.8em auto;
    text-align: center;
    width: 90%;
    padding: 1em 0;
    background-color: $black;
    @include border($params);
}