// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$default-font: Roboto, sans-serif;


// Palette Colors
$white: #f4f4f4;
$light-gray: hsl(216, 26%, 96%);
$medium-gray: hsl(216, 26%, 40%);
$dark-gray: #41414d;
$black: #181818;
$blue: #669ef3;
$dark-blue: #483d8b;
$light-green: #84e184;
$border-color: #d1ccd0;

// Spacing values
$width: 40%;

// Media-queries