// Reset CSS    
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {    
    box-sizing: border-box;
    word-break: normal;
    font-family: $default-font;
    background-color: $black;
    width: 100%;
    height: 100vh;
    // Optimize text legibility
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    overflow-y: auto;

    h1, h2, h4, h5, ul, li {
      color: $dark-gray;
    }

    h2 {
        color: $white;
    }

    li {
        list-style: none;
    }
}
