@import './helpers/_variables';
@import './helpers/_placeholders';
@import './helpers/_mixins';

.pokemon {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    .pokemon-card {
        background: $dark-gray;
        max-width: 450px;
        width: 50%;
        max-height: 630px;
        height: 75vh;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        box-sizing: border-box;
        @include border-radius(0.8rem);
        @include border(solid $border-color 1rem);

        @media #{$mq-mobile} {
            width: $container-small-screen;
        }

        .pokemon-name {
            text-transform: capitalize;
            padding: 0.5rem 0;
        }

        .img-wrapper {
            width: 100%;

            img { 
                @include pokemon-image($image-width, $max-image-size);
                display: inline-block;
                background-color: $light-gray;            
                box-sizing: content-box;
                @include border-radius(0.25rem);
                @include border(solid $border-color 0.2rem);
            }
        }

        .pokemon-details {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include pokemon-image($image-width, $max-image-size);
            font-size: 0.8rem;
            background-color: $light-gray;
            @include border-radius(0.1rem);
            @include border(solid $border-color 0.2rem);
            margin-top: -1.2rem;
        }

        .pokemon-abilities {

            @media #{$mq-mobile} {
                width: 70%;
            }

            .skills-title {
                color: $white;
                margin-top: 0.6em;
            }
            .skills-list {
                color: $white;

                .link {
                    text-decoration: none;
                }

                .ability{
                    color: $light-gray !important;
                    background-color: $dark-gray;
                    width: inherit;
                    min-width: 300px;
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.75rem;
                    text-align: center;
                    margin: 0.4rem 0;
                    border: 1px solid $blue;
    
                    @media #{$mq-mobile} {
                        min-width: 0;
                    }
    
                    &:hover {
                        background-color: $dark-blue;
                    }
                }
            }
        }
    }
}