@import './helpers/variables';
@import './helpers/mixins';

.handler-error {
    @include message(solid $red 0.1em);

    #error-message {
        color: $white;
        font-weight: bold;

        @media #{$mq-mobile} {
            font-size: 0.8em;
        }
    }
}