@import './helpers/_variables';
@import './helpers/_placeholders';

.radiobuttons {
    @extend %flex-center;
    width: 100%;
    color: $light-gray;
    padding: 1em 0;
    background-color: $dark-blue;
}