@import './helpers/variables';
@import './helpers/placeholders';

.radiobuttons {
    @extend %flex-center;
    width: 100%;
    color: $light-gray;
    padding: 1em 0;
    background-color: $dark-blue;
}