@import './helpers/variables';
@import './helpers/mixins';

.handler-messages {
    @include message(solid $light-green 0.1em);

    h1 {
        color: $white;
        font-weight: bold;

        @media #{$mq-mobile} {
            font-size: 0.8em;
        }
    }
}