@import './helpers/variables';
@import './helpers/mixins';

.handler-messages {
    display: block;
    margin: 0.8em auto;
    text-align: center;
    width: 90%;
    padding: 1em 0;
    background-color: $black;
    @include border(solid $light-green 0.1em);

    h4 {
        color: $white;
        font-weight: bold;
    }
}