@import './helpers/variables';
@import './helpers/placeholders';
@import './helpers/mixins';

.pokemon {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    .pokemon-card {
        background: $dark-gray;
        max-width: 450px;
        width: 50%;
        max-height: 630px;
        height: 75vh;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        box-sizing: border-box;
        @include border-radius(0.8rem);
        @include border(solid $border-color 1rem);

        @media #{$mq-mobile} {
            width: $container-small-screen;
        }

        .pokemon-name {
            text-transform: capitalize;
            padding: 0.5rem 0;
        }

        .img-wrapper {
            width: 100%;

            img { 
                @include pokemon-image($image-width, $max-image-size);
                display: inline-block;
                background-color: $light-gray;            
                box-sizing: content-box;
                @include border-radius(0.25rem);
                @include border(solid $border-color 0.2rem);
            }
        }

        .pokemon-details {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include pokemon-image($image-width, $max-image-size);
            font-size: 0.8rem;
            background-color: $light-gray;
            @include border-radius(0.1rem);
            @include border(solid $border-color 0.2rem);
            margin-top: -1.2rem;
        }

    }
}
