@import './helpers/placeholders';
@import './helpers/mixins';

.radio-button {
    @extend %flex-center;

    @media #{$mq-mobile} {
        width: 35%;
        justify-content: flex-start;
    }
    
    &:nth-child(2) {
        margin-left: 2em;
        @media #{$mq-mobile} {
            margin-left: 0;
        }
    }

    input[type=radio] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* create custom checkbox appearance */
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        padding: 0.1em;
        /* background-color only for content */
        background-clip: content-box;
        border: 0.125em solid #bbbbbb;
        @include border-radius(0.25em);
        margin-left: 0.6em;
        margin-right: 0.6em;    
        
        &:checked{
            background: url('../../assets/RadioButton/icon-checked.svg') no-repeat;
        }

        &:focus{
            outline: none !important;
        }
    }
}